*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: #fffffc;
    --Red: #400918;
    --red-dark: #8f092a;
    --brown-light: #d99f7e;
    --brown-dark: #a65e44;
}

body{
    background: linear-gradient(to bottom, var(--Red), var(--red-dark));
    height: 100vh;
    font-family: 'Nunito', sans-serif ;
}

.container{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

/*PERFIL*/

.perfil h1{
    color: var(--white);

}

.perfil span{
    color: var(--white);
    letter-spacing: 1px;

}

#fecha{
    color: var(--white);
    padding: 50px 0 5px 0;

}

/*AGREGAR TAREA*/

.agregar-tarea{
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
    margin: 40px;

}

.agregar-tarea input{
    width: 1005px;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    opacity: 50%;

}

.agregar-tarea i{
    font-size: 50px;
    color: var(--Red);

}

.agregar-tarea i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.agregar-tarea input::placeholder{
    font-size: 1.1rem;
    color: var(--Red);
}

/*SECCION TAREA*/

.seccion-tarea h3{
    color: var(--white);
    margin-bottom: 20px;
}

.seccion-tarea li{
    display: flex;
    background: linear-gradient(to bottom, var(--brown-light), var(--brown-dark));
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    color: var(--white);
    filter: drop-shadow(0px 0px 10px rgb(89,25,2));
    

}

.seccion-tarea i{
    font-size: 25px;


}

.seccion-tarea i:hover{
    color: var(--red-dark);
    cursor: pointer;
}

.seccion-tarea > ul p{
    font-size: 1.2rem;

}

.line-through{
    text-decoration: line-through;
    color: var(--red-dark);
}